@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Norse-Bold;
    src: url(./fonts/Norse-Bold.otf);
  }
.container {
    display: flex;
}
.left{
    height: 100vh;
    width: 30vw;
    background-image: url(./images/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.banner{
    display: flex;
    margin-top: 200px;
    gap: 50px;
    align-items: center;
    justify-content: center;
    background-color: black;
    opacity: 70%;
}
.odin-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}
#odin-text{
    font-size: 100px;
    font-family: Norse-Bold;
}
#odin-logo{
    height: 110px;
    width: auto;
    margin: 0;
    padding: 0;
}
#footer-text {
    position: absolute;
    bottom: 5px;
    left: 100px;
    font-weight: 100;
}
#image-link {
    color: white;
}
.right{
    height: 100vh;
    width: 70vw;
    background-color: #fafafa;
}
.right > div{
    padding-left: 5% ;
}

.first{
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    height: 30vh;
    max-width: 100vw;
}
.para{
    font-size: 20px;
}
.para{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
}
form{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 550;
}

.second{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 30px;
    height: 40vh;
    max-width: 100vw;
}
.form-div{
    display: flex;
    flex-direction: row;
    gap: 60px;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    height: 27px;
    width: 300px;
    border-radius: 4px;
    border: 2px solid #E5E7EB;
}
input:focus{
    outline-color: lightblue;
}
input:invalid{
    outline-color: lightcoral;
}
input:valid{
    outline-color: lightgreen;
}

label{
    margin-top: 20px;
    margin-bottom: 2px;
}

.left-form >{
    justify-content: center;
}

.third{
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    max-width: 100vw;
    padding: 30px;
}

#create-btn{
    background-color: #596D48;
    font-weight: bold;
    font-size: 20px;
    color: white;
    height: 45px;
    width: 250px;
    border-radius: 10px;
    border: none;
}
#create-btn:hover{
    cursor: pointer;
    opacity: 85%;
}
#login-link{
    color: #596D48;
}
#login-text{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 550;
    margin-top: 10px;
}